
/*Dropdown button both for burger icon on profile page and pluss icon to upload image*/
#dropdownMenuButton {
    background-color: #ffb703;
    border: none; 
    color: rgb(255, 255, 255); 
    font-size: 20px; /* Adjust size if needed */
}

#dropdownMenuButton:hover {
    background-color: #fb8500; 
}

  /*Description styling to ensure it wraps and stays inside the frame*/
.description-text {
    word-break: break-word; /* Ensures words are broken when necessary */
    max-width: 100%; /* Ensure it does not overflow its container */
}

/*background frame color*/
.profile-header-frame {
    background-color: #FFFFFF; 
    border: 1px solid #ccc; 
}

/* Username styling to ensure it wraps and stays inside the frame */
.username-wrapper h2 {
    word-break: break-word; /* Ensure long words break properly */
    max-width: 100%; /* Constrain to the container's width */
}

